language: node_js
node_js:
  - "10"
cache:
  yarn: true
  directories:
    - node_modules
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin::$(yarn global bin):$(yarn global dir):$PATH
script:
  - yarn run lint
  - bin/cennz-cli help # first run is slower. to avoid test timeout
  - yarn run test
  - yarn pack
branches:
  only:
  - master
